#poke-card-holder{
    border-style: solid;
    border-width: 5px;
    height: 250px;
    width: 325px;
    border-color: transparent;
    border-radius: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;;
    /* This holds the entire poke card */
}

.icon-wrapper {
    margin-top: 5px;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    /* This is the container
    for the .pfp,
    for the .type-icon,
    and for the pokemon-name */
}

.pokemon-name {
    font-size: 20px;
    color: white;
    margin: 0px;
    display: inline-block;
}

.pfp {
    height: 55px;
    width: 55px;
    border-radius: 100px;
    margin-right: 15%;
    margin-left: 5px;
    display: inline-block;
}

#type-icon {
    height: 55px;
    width: 55px;
    margin-left: 15%;
    display: inline-block;
}

.pokeball-image {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.pokemon-img {
    height: 140px;
    width: 140px;
    opacity: 60%;
}


.grass {
    background-color: rgb(38, 235, 90);
  }

.fire {
    background-color: rgb(235, 71, 38);
  }
  
  .water {
    background-color: rgb(38, 186, 235);
  }
  
  .electric {
    background-color: rgb(235, 209, 38);
  }
  
  .ice {
    background-color: rgb(38, 219, 235);
  }
  
  .fighting {
    background-color: rgb(235, 104, 38);
  }
  
  .poison {
    background-color: rgb(176, 38, 235);
  }
  .ground {
    background-color: rgb(181, 131, 92);
  }
  
  .flying {
    background-color: rgb(161, 215, 230);
  }
  
  .psychic {
    background-color: rgb(219, 77, 207);
  }
  
  .ghost {
    background-color: rgb(131, 24, 133);
  }
  
  .bug {
    background-color: rgb(113, 209, 10);
  }
  
  .rock {
    background-color: rgb(166, 87, 8);
  }
  
  .dragon {
    background-color: rgb(50, 24, 217);
  }
  
  .normal {
    background-color: rgb(168, 162, 157);
  }
  
  .fairy {
    background-color: rgb(255, 148, 191);
  }

/* e */

#icon {
  height: 55px;
  width: 55px;
}

.grass-icon {
    background-color: aquamarine;
    border-radius: 15px;
  }

.fire-icon {
    background-color: lightcoral;
    border-radius: 15px;
  }
  
  .water-icon {
    background-color: aqua;
    border-radius: 15px;
  }
  
  .electric-icon {
    background-color: yellow;
    border-radius: 15px;
  }
  
  .ice-icon {
    background-color: lightblue;
    border-radius: 15px;
  }
  
  .fighting-icon {
    background-color: orange;
    border-radius: 15px;
  }
  
  .poison-icon {
    background-color: violet;
    border-radius: 15px;
  }
  .ground-icon {
    background-color: brown;
    border-radius: 15px;
  }
  
  .flying-icon {
    background-color: white;
    border-radius: 15px;
  }
  
  .psychic-icon {
    background-color: pink;
    border-radius: 15px;
  }
  
  .ghost-icon {
    background-color: magenta;
    border-radius: 15px;
  }
  
  .bug-icon {
    background-color: lime;
    border-radius: 15px;
  }
  
  .rock-icon {
    background-color: goldenrod;
    border-radius: 15px;
  }
  
  .dragon-icon {
    background-color: blueviolet;
    border-radius: 15px;
  }
  
  .normal-icon {
    background-color: gray;
    border-radius: 15px;
  }
  
  .fairy-icon {
    background-color: hotpink;
    border-radius: 15px;
  }